In [1]:
import numpy as np
import pandas as pd

#### Pandas现在支持三种类型的多轴索引
- .loc     基于标签
- .iloc    基于整数
- .ix     基于标签和整数

In [4]:
df = pd.DataFrame(np.random.randn(8,4),
                 index=['a','b','c','d','e','f','g','h'],
                  columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a  0.125916  0.475352  0.221792  0.218378
b -0.494115 -1.748760 -0.865947  1.688864
c -0.045945  0.714812  0.465002 -0.165955
d -0.175863 -0.102781  0.595543  1.058762
e -0.422683  0.116108  0.435662 -0.479290
f  0.276660 -1.672454 -0.644499 -0.389559
g -0.251339  1.382029  1.116166 -1.500624
h  1.146690 -0.120183  1.527530  0.419149

##### .loc()
- 需要两个参数，第一个表示行，第二个表示列
- 输入一个参数时选择行

In [8]:
print(df.loc[:,'C'])

a    0.221792
b   -0.865947
c    0.465002
d    0.595543
e    0.435662
f   -0.644499
g    1.116166
h    1.527530
Name: C, dtype: float64

In [11]:
print(df.loc[['b','e'],['A','C']])

          A         C
b -0.494115 -0.865947
e -0.422683  0.435662

In [12]:
print(df.loc['a':'e'])

          A         B         C         D
a  0.125916  0.475352  0.221792  0.218378
b -0.494115 -1.748760 -0.865947  1.688864
c -0.045945  0.714812  0.465002 -0.165955
d -0.175863 -0.102781  0.595543  1.058762
e -0.422683  0.116108  0.435662 -0.479290

In [14]:
print(df.loc['b'] > 0)

A    False
B    False
C    False
D     True
Name: b, dtype: bool

In [16]:
print(df.loc['b'][df.loc['b'] > 0])

D    1.688864
Name: b, dtype: float64

In [22]:
print(df.loc[:,'A'] > 0)

a     True
b    False
c    False
d    False
e    False
f     True
g    False
h     True
Name: A, dtype: bool

##### .iloc
纯整数索引

In [23]:
df = pd.DataFrame(np.random.randn(8,4),
                 columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -1.090718  0.254269 -0.909619  1.720310
1  0.129194  0.084971 -1.198115 -0.856544
2 -1.650031 -0.370692  0.828190 -1.263205
3 -0.853226  0.070118  2.896814 -0.585147
4 -0.205723  0.115824  1.159482  0.379207
5 -1.424121 -0.017419 -1.183574 -0.346212
6 -0.604628  0.359756 -0.047044  0.763839
7 -0.838696 -0.893007  0.377517  0.090746

In [24]:
print(df.iloc[:4])

          A         B         C         D
0 -1.090718  0.254269 -0.909619  1.720310
1  0.129194  0.084971 -1.198115 -0.856544
2 -1.650031 -0.370692  0.828190 -1.263205
3 -0.853226  0.070118  2.896814 -0.585147

In [27]:
print(df.iloc[[2,3],1:3])

          B         C
2 -0.370692  0.828190
3  0.070118  2.896814

In [28]:
print(df.iloc[[1,3,5],[1,2,3]])

          B         C         D
1  0.084971 -1.198115 -0.856544
3  0.070118  2.896814 -0.585147
5 -0.017419 -1.183574 -0.346212

##### .ix
除了基于纯标签和整数之外，Pandas还提供了一种使用.ix()运算符进行选择和子集化对象的混合方法

In [29]:
df = pd.DataFrame(np.random.randn(8,4),
                 columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.227314  1.448933  0.403585  0.513819
1 -0.674064  0.085764  0.234554  0.793815
2  2.841261 -1.569087 -0.351255 -0.743865
3  1.038130  0.667940 -0.241093 -0.938924
4  0.320032  0.006643  0.978423 -0.565050
5 -1.188213  1.499092  0.095014 -0.816905
6  0.938079 -1.452045 -0.258749  0.648919
7 -0.298663  0.442213  0.394918 -0.064370

In [30]:
print(df.ix[:4])

          A         B         C         D
0 -0.227314  1.448933  0.403585  0.513819
1 -0.674064  0.085764  0.234554  0.793815
2  2.841261 -1.569087 -0.351255 -0.743865
3  1.038130  0.667940 -0.241093 -0.938924
4  0.320032  0.006643  0.978423 -0.565050

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [31]:
print(df.ix[:,'B'])

0    1.448933
1    0.085764
2   -1.569087
3    0.667940
4    0.006643
5    1.499092
6   -1.452045
7    0.442213
Name: B, dtype: float64

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [34]:
print(df.ix[:,[2,3]])
print(df.ix[:,['C','D']])

          C         D
0  0.403585  0.513819
1  0.234554  0.793815
2 -0.351255 -0.743865
3 -0.241093 -0.938924
4  0.978423 -0.565050
5  0.095014 -0.816905
6 -0.258749  0.648919
7  0.394918 -0.064370
          C         D
0  0.403585  0.513819
1  0.234554  0.793815
2 -0.351255 -0.743865
3 -0.241093 -0.938924
4  0.978423 -0.565050
5  0.095014 -0.816905
6 -0.258749  0.648919
7  0.394918 -0.064370

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [35]:
df

          A         B         C         D
0 -0.227314  1.448933  0.403585  0.513819
1 -0.674064  0.085764  0.234554  0.793815
2  2.841261 -1.569087 -0.351255 -0.743865
3  1.038130  0.667940 -0.241093 -0.938924
4  0.320032  0.006643  0.978423 -0.565050
5 -1.188213  1.499092  0.095014 -0.816905
6  0.938079 -1.452045 -0.258749  0.648919
7 -0.298663  0.442213  0.394918 -0.064370

In [43]:
print(df['A'])
print(df[['A','B']])
print(df[2:4])

0   -0.227314
1   -0.674064
2    2.841261
3    1.038130
4    0.320032
5   -1.188213
6    0.938079
7   -0.298663
Name: A, dtype: float64
          A         B
0 -0.227314  1.448933
1 -0.674064  0.085764
2  2.841261 -1.569087
3  1.038130  0.667940
4  0.320032  0.006643
5 -1.188213  1.499092
6  0.938079 -1.452045
7 -0.298663  0.442213
          A         B         C         D
2  2.841261 -1.569087 -0.351255 -0.743865
3  1.038130  0.667940 -0.241093 -0.938924

##### 可以使用属性运算符.来选择列

In [45]:
print(df.C)

0    0.403585
1    0.234554
2   -0.351255
3   -0.241093
4    0.978423
5    0.095014
6   -0.258749
7    0.394918
Name: C, dtype: float64