#### 当有了滚动，扩展和ewm对象创建了以后，就有几种方法可以对数据执行聚合

In [1]:
import numpy as np
import pandas as pd

##### DataFrame应用聚合

In [10]:
s = pd.Series([2, 3, np.nan, 10])
s.rolling(2).count()

0    1.0
1    2.0
2    1.0
3    1.0
dtype: float64

In [11]:
s.rolling(3).count()

0    1.0
1    2.0
2    2.0
3    2.0
dtype: float64

In [12]:
s = pd.Series([1, 2, 3, 4, 5])
s.rolling(3).sum()

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64

In [13]:
s.expanding(3).sum()

0     NaN
1     NaN
2     6.0
3    10.0
4    15.0
dtype: float64

##### 将值居中排布

In [14]:
s.rolling(3, center=True).sum()

0     NaN
1     6.0
2     9.0
3    12.0
4     NaN
dtype: float64

##### dataframe 计算

In [16]:
df = pd.DataFrame({'a':s,"b":s**2})
df

   a   b
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

In [17]:
df.rolling(3).sum()

      a     b
0   NaN   NaN
1   NaN   NaN
2   6.0  14.0
3   9.0  29.0
4  12.0  50.0