In [14]:
from datetime import datetime

In [7]:
now  = datetime.now()
now

datetime.datetime(2019, 12, 20, 0, 20, 58, 473175)

In [8]:
now.year

2019

In [9]:
now.month

12

In [10]:
now.day

20

In [12]:
now.date()

datetime.date(2019, 12, 20)

In [15]:
delta = datetime(2019, 12, 20, 0, 20, 58) - datetime(2008,6,24,15)
delta

datetime.timedelta(days=4195, seconds=33658)

In [16]:
delta.days

4195

In [17]:
delta.seconds

33658

In [18]:
from datetime import timedelta

In [21]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [24]:
stamp = datetime(2012,12,3)
stamp

datetime.datetime(2012, 12, 3, 0, 0)

In [25]:
str(stamp)

'2012-12-03 00:00:00'

In [28]:
datetime.strftime(stamp,'%Y-%m-%d')

'2012-12-03'

In [31]:
# datetime.strptime 可以把字符串转为日期
value = '1991-09-27'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(1991, 9, 27, 0, 0)

In [33]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(date,'%m/%d/%Y') for date in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [34]:
from dateutil.parser import parse
parse('2011-03-15')

datetime.datetime(2011, 3, 15, 0, 0)

In [36]:
parse('Jan 31,1991,10:15 PM')

datetime.datetime(2019, 1, 31, 22, 15)

In [39]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [40]:
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [41]:
datestrs

['7/6/2011', '8/6/2011']

In [4]:
import pandas as pd
import numpy as np

In [44]:
pd.to_datetime(datestrs,dayfirst=True)

DatetimeIndex(['2011-06-07', '2011-06-08'], dtype='datetime64[ns]', freq=None)

In [46]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [51]:
pd.isnull(idx)

array([False, False,  True])

In [1]:
from datetime import datetime

In [5]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.random(6),index=dates)
ts

2011-01-02    0.114773
2011-01-05    0.284911
2011-01-07    0.486732
2011-01-08    0.388522
2011-01-10    0.985110
2011-01-12    0.913027
dtype: float64

In [ ]:
# size 是 Output shape
np.random.random(size)

In [6]:
type(ts)

pandas.core.series.Series

In [7]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [8]:
ts + ts[::2]

2011-01-02    0.229547
2011-01-05         NaN
2011-01-07    0.973464
2011-01-08         NaN
2011-01-10    1.970220
2011-01-12         NaN
dtype: float64

In [9]:
ts[::2]

2011-01-02    0.114773
2011-01-07    0.486732
2011-01-10    0.985110
dtype: float64

In [10]:
ts.index.dtype

dtype('<M8[ns]')

In [12]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [14]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [15]:
ts[stamp]

0.4867321642767528

In [17]:
ts['1/10/2011']

0.9851101915711026

pd.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

freq : str or DateOffset, default 'D' (calendar daily)

In [20]:
longer_ts = pd.Series(np.random.random(1000),
                     index = pd.date_range('1/2000',periods=1000))
longer_ts[:5]

2000-01-01    0.053556
2000-01-02    0.465195
2000-01-03    0.651125
2000-01-04    0.965837
2000-01-05    0.129697
Freq: D, dtype: float64

In [28]:
longer_ts['2001/01'][:5]

2001-01-01    0.605849
2001-01-02    0.301408
2001-01-03    0.967744
2001-01-04    0.722422
2001-01-05    0.109395
Freq: D, dtype: float64

In [32]:
ts[datetime(2011,1,7):]

2011-01-07    0.486732
2011-01-08    0.388522
2011-01-10    0.985110
2011-01-12    0.913027
dtype: float64

In [33]:
ts

2011-01-02    0.114773
2011-01-05    0.284911
2011-01-07    0.486732
2011-01-08    0.388522
2011-01-10    0.985110
2011-01-12    0.913027
dtype: float64

In [34]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.486732
2011-01-08    0.388522
2011-01-10    0.985110
dtype: float64

In [44]:
a = ts.truncate(after='1/9/2011')

In [45]:
a

2011-01-02    0.114773
2011-01-05    0.284911
2011-01-07    0.486732
2011-01-08    0.388522
dtype: float64