In [1]:
from datetime import datetime

In [2]:
now  = datetime.now()
now

datetime.datetime(2019, 12, 29, 10, 12, 44, 869033)

In [3]:
now.year

2019

In [4]:
now.month

12

In [5]:
now.day

29

In [6]:
now.date()

datetime.date(2019, 12, 29)

In [7]:
delta = datetime(2019, 12, 20, 0, 20, 58) - datetime(2008,6,24,15)
delta

datetime.timedelta(days=4195, seconds=33658)

In [8]:
delta.days

4195

In [9]:
delta.seconds

33658

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
stamp = datetime(2012,12,3)
stamp

datetime.datetime(2012, 12, 3, 0, 0)

In [13]:
str(stamp)

'2012-12-03 00:00:00'

In [14]:
datetime.strftime(stamp,'%Y-%m-%d')

'2012-12-03'

In [15]:
# datetime.strptime 可以把字符串转为日期
value = '1991-09-27'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(1991, 9, 27, 0, 0)

In [16]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(date,'%m/%d/%Y') for date in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse
parse('2011-03-15')

datetime.datetime(2011, 3, 15, 0, 0)

In [18]:
parse('Jan 31,1991,10:15 PM')

datetime.datetime(2019, 1, 31, 22, 15)

In [19]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [21]:
datestrs

['7/6/2011', '8/6/2011']

In [22]:
import pandas as pd
import numpy as np

In [23]:
pd.to_datetime(datestrs,dayfirst=True)

DatetimeIndex(['2011-06-07', '2011-06-08'], dtype='datetime64[ns]', freq=None)

In [24]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.isnull(idx)

array([False, False,  True])

In [26]:
from datetime import datetime

In [27]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.random(6),index=dates)
ts

2011-01-02    0.279092
2011-01-05    0.824579
2011-01-07    0.639336
2011-01-08    0.201214
2011-01-10    0.648476
2011-01-12    0.839896
dtype: float64

In [28]:
# size 是 Output shape
np.random.random(size)

NameError: name 'size' is not defined

In [29]:
type(ts)

pandas.core.series.Series

In [30]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts + ts[::2]

2011-01-02    0.558185
2011-01-05         NaN
2011-01-07    1.278673
2011-01-08         NaN
2011-01-10    1.296952
2011-01-12         NaN
dtype: float64

In [32]:
ts[::2]

2011-01-02    0.279092
2011-01-07    0.639336
2011-01-10    0.648476
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [35]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [36]:
ts[stamp]

0.6393364857733688

In [37]:
ts['1/10/2011']

0.6484760809734885

pd.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

freq : str or DateOffset, default 'D' (calendar daily)

In [38]:
longer_ts = pd.Series(np.random.random(1000),
                     index = pd.date_range('1/2000',periods=1000))
longer_ts[:5]

2000-01-01    0.636008
2000-01-02    0.461499
2000-01-03    0.375348
2000-01-04    0.176386
2000-01-05    0.684752
Freq: D, dtype: float64

In [39]:
longer_ts['2001/01'][:5]

2001-01-01    0.661366
2001-01-02    0.209372
2001-01-03    0.065866
2001-01-04    0.170544
2001-01-05    0.208973
Freq: D, dtype: float64

In [40]:
ts[datetime(2011,1,7):]

2011-01-07    0.639336
2011-01-08    0.201214
2011-01-10    0.648476
2011-01-12    0.839896
dtype: float64

In [41]:
ts

2011-01-02    0.279092
2011-01-05    0.824579
2011-01-07    0.639336
2011-01-08    0.201214
2011-01-10    0.648476
2011-01-12    0.839896
dtype: float64

In [42]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.639336
2011-01-08    0.201214
2011-01-10    0.648476
dtype: float64

In [43]:
a = ts.truncate(after='1/9/2011')

In [44]:
a

2011-01-02    0.279092
2011-01-05    0.824579
2011-01-07    0.639336
2011-01-08    0.201214
dtype: float64

In [45]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                          '1/2/2000','1/3/2000'])

In [46]:
dup_ts = pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [47]:
dup_ts.index.is_unique

False

In [48]:
dup_ts['1/3/2000']

4

In [49]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [50]:
grouped = dup_ts.groupby(level=0)
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [51]:
ts.resample('D').mean()

2011-01-02    0.279092
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.824579
2011-01-06         NaN
2011-01-07    0.639336
2011-01-08    0.201214
2011-01-09         NaN
2011-01-10    0.648476
2011-01-11         NaN
2011-01-12    0.839896
Freq: D, dtype: float64

In [52]:
# pd.date_range(start=None, end=None, periods=None, freq=None,
#               tz=None, normalize=False, name=None, closed=None, **kwargs)
# date_range会产生按天计算的时间点
index = pd.date_range('4/1/2018','5/8/2018')
index

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02',
               '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
               '2018-05-07', '2018-05-08'],
              dtype='datetime64[ns]', freq='D')

In [53]:
# 如果只传入起始或结束日期，就还得传入一个表示一段时间的数字
pd.date_range(start='1/4/2001',periods=5)

DatetimeIndex(['2001-01-04', '2001-01-05', '2001-01-06', '2001-01-07',
               '2001-01-08'],
              dtype='datetime64[ns]', freq='D')

In [54]:
# 每月最后一个工作日组成的日期索引
# BM ：business end of month
# 只会包含时间间隔内符合频率要求的日期
pd.date_range('1/1/2000','1/1/2001',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [55]:
# date_range 默认会保留起始和结束时间戳的时间信息
pd.date_range('5/2/2012 12:56:31',periods=5,freq='M')

DatetimeIndex(['2012-05-31 12:56:31', '2012-06-30 12:56:31',
               '2012-07-31 12:56:31', '2012-08-31 12:56:31',
               '2012-09-30 12:56:31'],
              dtype='datetime64[ns]', freq='M')

In [56]:
# 规范化时间戳到午夜,normalize可实现
pd.date_range('5/2/2012 12:56:31',periods=5,freq='M',normalize=True)

DatetimeIndex(['2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30'],
              dtype='datetime64[ns]', freq='M')

In [57]:
rng = pd.date_range('1/1/2012','9/1/2012',freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [59]:
ts =pd.Series(np.random.randn(4),
             index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31   -1.011970
2000-02-29   -1.466814
2000-03-31    1.353067
2000-04-30   -0.833496
Freq: M, dtype: float64

In [62]:
ts.shift(2,freq='M')

2000-03-31   -1.011970
2000-04-30   -1.466814
2000-05-31    1.353067
2000-06-30   -0.833496
Freq: M, dtype: float64

In [63]:
ts.shift(3,freq='D')

2000-02-03   -1.011970
2000-03-03   -1.466814
2000-04-03    1.353067
2000-05-03   -0.833496
dtype: float64

In [64]:
ts.shift(1,freq='3D')

2000-02-03   -1.011970
2000-03-03   -1.466814
2000-04-03    1.353067
2000-05-03   -0.833496
dtype: float64

In [65]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -1.011970
2000-02-29 01:30:00   -1.466814
2000-03-31 01:30:00    1.353067
2000-04-30 01:30:00   -0.833496
Freq: M, dtype: float64

In [66]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
now  + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [67]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [68]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [69]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [70]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [71]:
ts = pd.Series(np.random.randn(20),
              index = pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15   -1.019390
2000-01-19   -0.517975
2000-01-23   -0.242193
2000-01-27    0.378400
2000-01-31   -0.608118
2000-02-04    2.126573
2000-02-08   -1.493822
2000-02-12   -1.521526
2000-02-16    0.594741
2000-02-20   -0.963089
2000-02-24    0.664364
2000-02-28    0.366919
2000-03-03   -0.137627
2000-03-07    0.157658
2000-03-11    1.364588
2000-03-15    0.012651
2000-03-19   -0.794550
2000-03-23   -0.845339
2000-03-27   -0.536959
2000-03-31   -0.519389
Freq: 4D, dtype: float64

In [74]:
ts.groupby(offset.rollforward).count()

2000-01-31    5
2000-02-29    7
2000-03-31    8
dtype: int64

In [75]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.401855
2000-02-29   -0.032263
2000-03-31   -0.162371
dtype: float64

In [78]:
import pytz
pytz.common_timezones[-8:]

['US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [80]:
tz = pytz.timezone('US/Eastern')
tz

In [81]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.555116
2012-03-10 09:30:00    0.138011
2012-03-11 09:30:00    0.489809
2012-03-12 09:30:00   -1.185580
2012-03-13 09:30:00    0.137139
2012-03-14 09:30:00    0.194262
Freq: D, dtype: float64

In [82]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.555116
2012-03-10 09:30:00+00:00    0.138011
2012-03-11 09:30:00+00:00    0.489809
2012-03-12 09:30:00+00:00   -1.185580
2012-03-13 09:30:00+00:00    0.137139
2012-03-14 09:30:00+00:00    0.194262
Freq: D, dtype: float64

In [83]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [84]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00    0.555116
2012-03-10 04:30:00-05:00    0.138011
2012-03-11 05:30:00-04:00    0.489809
2012-03-12 05:30:00-04:00   -1.185580
2012-03-13 05:30:00-04:00    0.137139
2012-03-14 05:30:00-04:00    0.194262
Freq: D, dtype: float64

In [86]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern

2012-03-09 09:30:00-05:00    0.555116
2012-03-10 09:30:00-05:00    0.138011
2012-03-11 09:30:00-04:00    0.489809
2012-03-12 09:30:00-04:00   -1.185580
2012-03-13 09:30:00-04:00    0.137139
2012-03-14 09:30:00-04:00    0.194262
Freq: D, dtype: float64

In [87]:
stamp = pd.Timestamp('2011-03/12 04:00')
stamp

Timestamp('2011-03-12 04:00:00')

In [89]:
stamp_utc = stamp.tz_localize('UTC')
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [92]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')