In [1]:
from datetime import datetime

In [2]:
now  = datetime.now()
now

datetime.datetime(2019, 12, 23, 7, 59, 29, 731676)

In [3]:
now.year

2019

In [4]:
now.month

12

In [5]:
now.day

23

In [6]:
now.date()

datetime.date(2019, 12, 23)

In [7]:
delta = datetime(2019, 12, 20, 0, 20, 58) - datetime(2008,6,24,15)
delta

datetime.timedelta(days=4195, seconds=33658)

In [8]:
delta.days

4195

In [9]:
delta.seconds

33658

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
stamp = datetime(2012,12,3)
stamp

datetime.datetime(2012, 12, 3, 0, 0)

In [13]:
str(stamp)

'2012-12-03 00:00:00'

In [14]:
datetime.strftime(stamp,'%Y-%m-%d')

'2012-12-03'

In [15]:
# datetime.strptime 可以把字符串转为日期
value = '1991-09-27'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(1991, 9, 27, 0, 0)

In [16]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(date,'%m/%d/%Y') for date in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse
parse('2011-03-15')

datetime.datetime(2011, 3, 15, 0, 0)

In [18]:
parse('Jan 31,1991,10:15 PM')

datetime.datetime(2019, 1, 31, 22, 15)

In [19]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [21]:
datestrs

['7/6/2011', '8/6/2011']

In [22]:
import pandas as pd
import numpy as np

In [23]:
pd.to_datetime(datestrs,dayfirst=True)

DatetimeIndex(['2011-06-07', '2011-06-08'], dtype='datetime64[ns]', freq=None)

In [24]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.isnull(idx)

array([False, False,  True])

In [26]:
from datetime import datetime

In [27]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.random(6),index=dates)
ts

2011-01-02    0.020916
2011-01-05    0.179654
2011-01-07    0.996935
2011-01-08    0.336029
2011-01-10    0.957269
2011-01-12    0.678624
dtype: float64

In [28]:
# size 是 Output shape
np.random.random(size)

NameError: name 'size' is not defined

In [29]:
type(ts)

pandas.core.series.Series

In [30]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts + ts[::2]

2011-01-02    0.041832
2011-01-05         NaN
2011-01-07    1.993870
2011-01-08         NaN
2011-01-10    1.914539
2011-01-12         NaN
dtype: float64

In [32]:
ts[::2]

2011-01-02    0.020916
2011-01-07    0.996935
2011-01-10    0.957269
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [35]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [36]:
ts[stamp]

0.9969350390796826

In [37]:
ts['1/10/2011']

0.9572692823382729

pd.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

freq : str or DateOffset, default 'D' (calendar daily)

In [38]:
longer_ts = pd.Series(np.random.random(1000),
                     index = pd.date_range('1/2000',periods=1000))
longer_ts[:5]

2000-01-01    0.920219
2000-01-02    0.533672
2000-01-03    0.509085
2000-01-04    0.923577
2000-01-05    0.503254
Freq: D, dtype: float64

In [39]:
longer_ts['2001/01'][:5]

2001-01-01    0.492970
2001-01-02    0.135155
2001-01-03    0.577172
2001-01-04    0.057129
2001-01-05    0.709596
Freq: D, dtype: float64

In [40]:
ts[datetime(2011,1,7):]

2011-01-07    0.996935
2011-01-08    0.336029
2011-01-10    0.957269
2011-01-12    0.678624
dtype: float64

In [41]:
ts

2011-01-02    0.020916
2011-01-05    0.179654
2011-01-07    0.996935
2011-01-08    0.336029
2011-01-10    0.957269
2011-01-12    0.678624
dtype: float64

In [42]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.996935
2011-01-08    0.336029
2011-01-10    0.957269
dtype: float64

In [43]:
a = ts.truncate(after='1/9/2011')

In [44]:
a

2011-01-02    0.020916
2011-01-05    0.179654
2011-01-07    0.996935
2011-01-08    0.336029
dtype: float64

In [45]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                          '1/2/2000','1/3/2000'])

In [46]:
dup_ts = pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [51]:
dup_ts.index.is_unique

False

In [52]:
dup_ts['1/3/2000']

4

In [53]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [57]:
grouped = dup_ts.groupby(level=0)
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [66]:
ts.resample('D').mean()

2011-01-02    0.020916
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.179654
2011-01-06         NaN
2011-01-07    0.996935
2011-01-08    0.336029
2011-01-09         NaN
2011-01-10    0.957269
2011-01-11         NaN
2011-01-12    0.678624
Freq: D, dtype: float64

In [70]:
# pd.date_range(start=None, end=None, periods=None, freq=None,
#               tz=None, normalize=False, name=None, closed=None, **kwargs)
# date_range会产生按天计算的时间点
index = pd.date_range('4/1/2018','5/8/2018')
index

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30', '2018-05-01', '2018-05-02',
               '2018-05-03', '2018-05-04', '2018-05-05', '2018-05-06',
               '2018-05-07', '2018-05-08'],
              dtype='datetime64[ns]', freq='D')

In [71]:
# 如果只传入起始或结束日期，就还得传入一个表示一段时间的数字
pd.date_range(start='1/4/2001',periods=5)

DatetimeIndex(['2001-01-04', '2001-01-05', '2001-01-06', '2001-01-07',
               '2001-01-08'],
              dtype='datetime64[ns]', freq='D')

In [73]:
# 每月最后一个工作日组成的日期索引
# BM ：business end of month
# 只会包含时间间隔内符合频率要求的日期
pd.date_range('1/1/2000','1/1/2001',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [78]:
# date_range 默认会保留起始和结束时间戳的时间信息
pd.date_range('5/2/2012 12:56:31',periods=5,freq='M')

DatetimeIndex(['2012-05-31 12:56:31', '2012-06-30 12:56:31',
               '2012-07-31 12:56:31', '2012-08-31 12:56:31',
               '2012-09-30 12:56:31'],
              dtype='datetime64[ns]', freq='M')

In [79]:
# 规范化时间戳到午夜,normalize可实现
pd.date_range('5/2/2012 12:56:31',periods=5,freq='M',normalize=True)

DatetimeIndex(['2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30'],
              dtype='datetime64[ns]', freq='M')